.faq {
  .content-container {
    padding: 85px 20px;
  }
}

.faq-wrapper-elem {
  padding: 20px 50px 20px 25px;
  font-size: 16px;
  border-radius: 14px;
  position: relative;

  &:nth-child(odd) {
    background-color: #dee5ea;
  }

  &:nth-child(even) {
    background-color: #fff;
  }

  &__question {
    font-family: $medium;
  }

  &__answer {
    height: auto;
    overflow: hidden;
    font-family: $regular;
    font-size: 14px;
    display: none;
    padding-top: 40px;
  }

  .faq-plus {
    position: absolute;
    right: 24px;
    top: 26px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }

  &--active {
    .faq-plus {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}
