.section-standard {
  position: relative;
  overflow: hidden;

  .content-container {
    padding: 85px 20px 0 20px;

    @include mq($min-width: 768px) {
      padding: 85px 20px 85px 20px;
    }

    &__wrapper {
      max-width: 768px;
      text-align: center;

      @include mq($min-width: 768px) {
        max-width: 400px;
        text-align: left;
      }

      @include mq($min-width: 992px) {
        text-align: left;
      }
    }
  }
}
